<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
	<add name="CS_ADO_NET"
		connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\welli\Desktop\Pastas sobre C#\LivroC#\Projeto\Modelo\Persistencia\App_Data\ADO_NETDataBase.mdf';Integrated Security=True;"
		providerName="System.Data.SqlClient" />
		<add name="CS_ADO_NET2"
			connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\welli\Desktop\Pastas sobre C#\LivroC#\Projeto\Modelo\Persistencia\App_Data\ADO_NETDataBase.mdf';Integrated Security=True;"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>